/* Phone */
/* Pad */
body {
  font-family: 'Lato';
  color: #fff;
  background-image: url("../images/Bg_768.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 12px; }
  @media (min-width: 961px) {
    body {
      background-image: url("../images/Bg_1536.png"); } }
  @media (min-width: 641px) and (max-width: 960px) {
    body {
      background-image: url("../images/mobilebg_960.png"); } }
  @media (min-width: 321px) and (max-width: 640px) {
    body {
      background-image: url("../images/mobilebg_640.png"); } }
  @media (max-width: 320px) {
    body {
      background-image: url("../images/mobilebg_320.png"); } }

img {
  border: 0;
  vertical-align: middle; }

.content {
  padding: 20% 20%; }
  @media (max-width: 767px) {
    .content {
      padding: 30% 10%; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .content {
      padding: 30% 10%; } }
  @media (max-width: 767px) and (orientation: landscape) {
    .content {
      padding: 5% 30%; } }
  @media (min-width: 768px) {
    .content {
      padding: 25% 20%; } }
  @media (min-width: 767px) and (orientation: portrait) {
    .content {
      padding: 25% 20%; } }
  @media (min-width: 768px) and (orientation: landscape) {
    .content {
      padding: 10% 30%; } }

.logo {
  margin-bottom: 16%; }
  .logo .tgpLogo {
    width: 100%; }

.buttons {
  width: 100%; }
  .buttons a {
    text-decoration: none; }
  .buttons .btn {
    height: 45px;
    line-height: 45px;
    padding: 0 10%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #5FA315;
    background: -webkit-linear-gradient(180deg, #BFDA1B 0%, #5FA315 100%);
    background: -ms-linear-gradient(180deg, #BFDA1B 0%, #5FA315 100%);
    background: -moz-linear-gradient(180deg, #BFDA1B 0%, #5FA315 100%);
    background: linear-gradient(180deg, #BFDA1B 0%, #5FA315 100%);
    box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
    .buttons .btn.Eng {
      margin-top: 5%; }
    .buttons .btn:hover {
      cursor: pointer; }
    @media (min-width: 768px) {
      .buttons .btn {
        height: 55px;
        line-height: 55px; } }

.footer {
  width: 100%;
  position: absolute;
  bottom: 5%;
  -webkit-transform: translateZ(0); }
  .footer .container {
    margin: 0 auto; }
    .footer .container:before, .footer .container:after {
      display: table; }
    .footer .container:after {
      clear: both; }
    .footer .container .webLink {
      margin-bottom: 5%; }
      .footer .container .webLink a {
        color: #fff;
        font-size: 20px; }
      @media (max-width: 767px) and (orientation: landscape) {
        .footer .container .webLink {
          margin-bottom: 1%; } }
    .footer .container .footer-txt {
      font-size: 12px;
      margin: 0 30px; }
  @media (max-width: 767px) and (orientation: landscape) {
    .footer {
      bottom: 1%; } }

/*# sourceMappingURL=Brochure.css.map */
