// @import "components/_loading.scss";
@mixin big-screen {
    @media (min-width: 961px) {
        @content;
    }
}
@mixin normal-screen {
    @media (min-width: 641px) and (max-width: 960px) {
        @content;
    }
}
@mixin small-screen {
    @media (min-width: 321px) and (max-width: 640px){
        @content;
    }
}
@mixin xsmall-screen {
    @media (max-width: 320px) {
        @content;
    }
}

/* Phone */
@mixin phone {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin phone-portrait {
    @media (max-width: 767px) and (orientation: portrait) {
        @content;
    }
}

@mixin phone-landscape {
    @media (max-width: 767px) and (orientation: landscape) {
        @content;
    }
}

/* Pad */
@mixin pad {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin pad-portrait {
    @media (min-width: 767px) and (orientation: portrait) {
        @content;
    }
}

@mixin pad-landscape {
    @media (min-width: 768px) and (orientation: landscape) {
        @content;
    }
}

body{
    font-family: 'Lato';
    color: #fff;
    background-image: url("../images/Bg_1536.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 12px;

    @include big-screen {
        background-image: url("../images/Bg_768.png");
    }
    @include normal-screen {
        background-image: url("../images/mobilebg_960.png");
    }
    @include small-screen {
        background-image: url("../images/mobilebg_640.png");
    }
    @include xsmall-screen {
        background-image: url("../images/mobilebg_320.png");
    }    

}

img{
    border: 0;
    vertical-align: middle;
}
.content{
    padding: 20% 20%;
    @include phone {
        padding: 30% 10%;
    }
    @include phone-portrait {
        padding: 30% 10%;
    }
    @include phone-landscape {
        padding: 5% 30%;
    }
    @include pad {
        padding: 25% 20%;
    }
    @include pad-portrait {
        padding: 25% 20%;
    }
    @include pad-landscape {
        padding: 10% 30%;
    }

}

.logo{
    margin-bottom: 16%;
    .tgpLogo{
        width: 100%;
    }   
}
.buttons{
    width: 100%;    
    a{
        text-decoration: none;
    }
    .btn{
        height: 45px;
        line-height: 45px;
        padding: 0 10%;
        margin: 0 auto;        
        border-radius: 5px;
        background-color: #5FA315;
        background: -webkit-linear-gradient(180deg, #BFDA1B 0%, #5FA315 100%);
        background: -ms-linear-gradient(180deg, #BFDA1B 0%, #5FA315 100%);
        background: -moz-linear-gradient(180deg, #BFDA1B 0%, #5FA315 100%);
        background: linear-gradient(180deg, #BFDA1B 0%, #5FA315 100%);
        box-shadow: inset 1px 1px 1px 0 rgba(255,255,255,0.15), 0 2px 4px 0 rgba(0,0,0,0.19);
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        &.Eng{
            margin-top: 5%;            
        }
        &:hover{
            cursor: pointer;
        }
        @include pad {
            height: 55px;
            line-height: 55px;            
        }         
    }
}
.footer{
    width: 100%;
    position: absolute;
    bottom: 5%;
    -webkit-transform: translateZ(0);           
    .container{
        margin: 0 auto;
        &:before, &:after {
            display: table;
        }
        &:after {
            clear: both;
        }
        .webLink{
            margin-bottom: 5%;
            a{
                color: #fff;
                font-size: 20px;
            }
            @include phone-landscape {
                margin-bottom: 1%;
            }            
        }    
        .footer-txt{
            font-size: 12px;
            margin: 0 30px;
        }        
    }
    @include phone-landscape {
        bottom: 1%;
    }      
}

